In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import classification_report, recall_score
from itertools import combinations
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

In [2]:
df = pd.read_csv("../WA_Fn-UseC_-HR-Employee-Attrition.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [3]:
#'Age','Attrition','DistanceFromHome','EnvironmentSatisfaction','Gender','HourlyRate','JobLevel','JobSatisfaction','MaritalStatus',
#'MonthlyIncome','NumCompaniesWorked','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StockOptionLevel',
#'TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager'

features=['Gender','JobLevel','JobSatisfaction','MaritalStatus',
'MonthlyIncome','NumCompaniesWorked','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StockOptionLevel',
'TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager']

features=['Department','JobRole','Gender', 'StockOptionLevel','WorkLifeBalance',
          'Education','JobInvolvement','JobLevel','YearsAtCompany','DistanceFromHome',
          'JobSatisfaction','NumCompaniesWorked','PerformanceRating',
          'MaritalStatus']

#features=['Department', 'JobRole', 'Education', 'NumCompaniesWorked', 'MaritalStatus']

features

['Department',
 'JobRole',
 'Gender',
 'StockOptionLevel',
 'WorkLifeBalance',
 'Education',
 'JobInvolvement',
 'JobLevel',
 'YearsAtCompany',
 'DistanceFromHome',
 'JobSatisfaction',
 'NumCompaniesWorked',
 'PerformanceRating',
 'MaritalStatus']

In [4]:
#Select features
data=df[features]
data_binary_encoded = pd.get_dummies(data)
X=data_binary_encoded
y=df["Attrition"].replace({'Yes': 1, 'No': 0})
X

,StockOptionLevel,WorkLifeBalance,Education,JobInvolvement,JobLevel,YearsAtCompany,DistanceFromHome,JobSatisfaction,NumCompaniesWorked,PerformanceRating,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,Gender_Female,Gender_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,0,1,2,3,2,6,1,4,8,3,...,0,0,0,1,0,1,0,0,0,1
1,1,3,1,2,2,10,8,2,1,4,...,0,0,1,0,0,0,1,0,1,0
2,0,3,2,2,1,0,2,3,6,3,...,0,0,0,0,0,0,1,0,0,1
3,0,3,4,3,1,8,3,3,1,3,...,0,0,1,0,0,1,0,0,1,0
4,1,3,1,3,1,2,2,2,9,3,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1,3,2,4,2,5,23,4,4,3,...,0,0,0,0,0,0,1,0,1,0
1466,1,3,1,2,3,7,6,1,4,3,...,0,0,0,0,0,0,1,0,1,0
1467,1,3,3,4,2,6,4,2,1,4,...,1,0,0,0,0,0,1,0,1,0
1468,0,2,3,2,2,9,2,2,2,3,...,0,0,0,1,0,0,1,0,1,0
1469,0,4,3,4,2,4,8,3,2,3,...,0,0,0,0,0,0,1,0,1,0

In [5]:
#Function to create Model

def createModel(X):
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
    X_scaler = MinMaxScaler().fit(X_train)
    X_train_scaled = X_scaler.transform(X_train)
    X_test_scaled = X_scaler.transform(X_test)
    model = LogisticRegression()
    model = model.fit(X_train_scaled, y_train)
    trainScore = model.score(X_train_scaled,y_train)
    testScore = model.score(X_test_scaled,y_test)
    test=model.predict(X)
    cr = classification_report(y,test)
    rs = recall_score(y,test)
    retList = [trainScore, testScore, rs, cr]
    
    return retList


createModel(X)

[0.8584392014519057,
 0.8070652173913043,
 0.4345991561181435,
 '              precision    recall  f1-score   support\n\n           0       0.88      0.77      0.82      1233\n           1       0.26      0.43      0.33       237\n\n    accuracy                           0.71      1470\n   macro avg       0.57      0.60      0.57      1470\nweighted avg       0.78      0.71      0.74      1470\n']

In [6]:
# This will create a dataframe of different possible combinations from features selected. 
## Uncomment the second line to create a fast example

newFeatures = list(combinations(features, 13))+list(combinations(features, 12))+list(combinations(features, 11))+list(combinations(features, 10))+list(combinations(features, 9))+list(combinations(features, 8))+list(combinations(features, 7))+list(combinations(features, 6))+list(combinations(features, 5))
newFeatures = list(combinations(features, 13))
scores = []
counter = 1

for i in newFeatures:
    print('Count '+str(counter)+'/'+len(newFeatures))
    counter = 1
    newDF = df.filter(i, axis=1)
    X = pd.get_dummies(newDF)
    retList = createModel(X)
    retList.append(i)
    scores.append(retList)

scoresDF = pd.DataFrame(scores)
scoresDF.columns = ["trainScore", "testScore", "recallScore", "classificationReport", "Features"]
scoresDF.sort_values(["testScore"])
scoresDF

TypeError: must be str, not int

In [ ]:
# Printing out the Classification Report for the Highest Scores

print(scoresDF.loc[5][3])

In [ ]:
scoresDF.dtypes

In [ ]:
testCombinations = list(combinations(features, 13))+list(combinations(features, 12))+list(combinations(features, 11))+list(combinations(features, 10))+list(combinations(features, 9))+list(combinations(features, 8))+list(combinations(features, 7))+list(combinations(features, 6))+list(combinations(features, 5))
len(testCombinations)

In [ ]:
scoresDF

In [ ]:
scoresDF.to_csv('scoresDF2.csv', index = True, header=True)